<% if @group!="3" then %>
<%= render "common/menu1" %>
<% else %>
  <%= render "common/menu" %>
<% end %>
<h1>結帳日維護</h1>
　
<table class="table">

  <thead >

    <tr>
      <td>項次</td>
      <td>結帳日</td>
   　　  <td>&nbsp;&nbsp;處理</td>

    </tr>
  </thead>
　　　　
  <tbody id="bodyrow">
　
    <% @closements.each_with_index do |closement,index| %>
      <tr >
        <td><input class="box border-0 form-control" type="text" size="2" onfocus="this.blur()" value=<%= index+1 %>></td>
        <td><input class="box border-2 form-control" maxlength="2" size="2"   type="text"  id="close_day_input"  value=<%=closement.close_day %>><input id ="old_close_day" hidden="hidden" value=<%=closement.close_day %>> </input></td>
        <td >
            <button  id="closement_yes" class="btn btn-primary" remote="true" >確定</button>
        </td>
      </tr>

    <% end %>

  </tbody>
　　
</table>
