<% if @group!="3" then %>
<%= render "common/menu1" %>
<% else %>
  <%= render "common/menu" %>
<% end %>

<h1>列印權限維護</h1>

<table class="table">

  <thead >

    <tr>
      <td>項次</td>
      <td>&nbsp;&nbsp;帳號</td>
      <td>&nbsp;業務人員 </td>
      <td>可全印</td>
 　　

    </tr>
  </thead>
    <%= paginate @user_groups, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  <tbody id="bodyrow">
　
    <% @user_groups.each_with_index do |usergroup,index| %>
      <tr id=<%= index+1 %>>
        <td ><%= index+1 %></td>
        <td style="display:none;"><input id ="input<%=index+1%>"></td>
        <td><input class="box border-0 form-control" size="12"  type="text" onfocus="this.blur()"  id="uglogin"  value=<%=usergroup.login %>> </td>
        <td><input class="box border-0 form-control" size="14" type="text" onfocus="this.blur()" id="ugstaf" value=<%=usergroup.won_staff %>> </td>

        <td>
        &nbsp;&nbsp;  &nbsp;&nbsp;<input class="form-check-input" type="checkbox" id="uggroup"  <% if usergroup.group == "4" then %>checked> <%end%>





         </td>

      </tr>

    <% end %>

  </tbody>

</table>
