

<!-- @input2 = params[:user_id] if params[:user_id].present?
@input1 = params[:mark] if params[:mark].present?
@input3 = params[:star_date] if params[:star_date].present?
@input4 = params[:end_date] if params[:end_date].present? -->
<h1>歷史資料查詢</h1>
<div class="d-flex flex-row  align-items-center">
客戶編號：
<input class="box form-control col-lg-1" size="6"  type="text"  id="hiscustID" maxlength="5" value=<%=@hiscustID %>>

開單年月：
<div class="d-flex flex-row justify-content-between align-items-center" >
   年&nbsp&nbsp
  <select id="date_yy" class="custom-select col-lg-6" required>
    <option value="" <%= "selected" if @date_yy=="" %> ></option>
    <option value="2020" <%= "selected" if @date_yy=="2020" %> >2020</option>
    <option value="2021" <%= "selected" if @date_yy=="2021" %> >2021</option>
    <option value="2022" <%= "selected" if @date_yy=="2022" %> >2022</option>
    <option value="2023" <%= "selected" if @date_yy=="2023" %> >2023</option>
    <option value="2024" <%= "selected" if @date_yy=="2024" %> >2024</option>
    <option value="2025" <%= "selected" if @date_yy=="2025" %> >2025</option>
    <option value="2026" <%= "selected" if @date_yy=="2026" %> >2026</option>
    <option value="2027" <%= "selected" if @date_yy=="2027" %> >2027</option>
    <option value="2028" <%= "selected" if @date_yy=="2028" %> >2028</option>
    <option value="2029" <%= "selected" if @date_yy=="2029" %> >2029</option>
    <option value="2030" <%= "selected" if @date_yy=="2030" %> >2030</option>

  </select>
月
  <select id="date_mm" class="custom-select col-lg-5" required>
    <option value="" <%= "selected" if @date_mm=="" %> ></option>
    <option value="01" <%= "selected" if @date_mm=="01" %> >01</option>
    <option value="02" <%= "selected" if @date_mm=="02" %> >02</option>
    <option value="03" <%= "selected" if @date_mm=="03" %> >03</option>
    <option value="04" <%= "selected" if @date_mm=="04" %> >04</option>
    <option value="05" <%= "selected" if @date_mm=="05" %> >05</option>
    <option value="06" <%= "selected" if @date_mm=="06" %> >06</option>
    <option value="07" <%= "selected" if @date_mm=="07" %> >07</option>
    <option value="08" <%= "selected" if @date_mm=="08" %> >08</option>
    <option value="09" <%= "selected" if @date_mm=="09" %> >09</option>
    <option value="10" <%= "selected" if @date_mm=="10" %> >10</option>
    <option value="11" <%= "selected" if @date_mm=="11" %> >11</option>
    <option value="12" <%= "selected" if @date_mm=="12" %> >12</option>
  </select>

</div>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp行為：
<div class="d-flex flex-row justify-content-between　align-items-center" >
   <select id="input1" class="custom-select col-lg-15" required>
    <option value=""></option>
    <option value="E" <%= "selected" if @input1=="E" %> >修改</option>
    <option value="D" <%= "selected" if @input1=="D" %> >刪除</option>
    <option value="C" <%= "selected" if @input1=="C" %> >新增</option>
  </select>
  </div>
業務人員：
 <div class="d-flex flex-row justify-content-between align-items-center" >

   <select id="input2" class="custom-select col-lg-15" required>
    <option value=""></option>
    <option value="vicky" <%= "selected" if @input2=="vicky" %>>vicky</option>
    <option value="SABRINA" <%= "selected" if @input2=="SABRINA" %>>SABRINA</option>
      <option value="素芳" <%= "selected" if @input2=="素芳" %>>素芳</option>
    <option value="may" <%= "selected" if @input2=="may" %>>may</option>
      <option value="Katherine" <%= "selected" if @input2=="Katherine" %>>Katherine</option>
      <option value="Karen" <%= "selected" if @input2=="Karen" %>>Karen</option>
      <option value="秀錦" <%= "selected" if @input2=="秀錦" %>>秀錦</option>

   </select>
</div>
異動日期：&nbsp&nbsp起
<input class="box form-control col-lg-1" size="9"  type="text"  id="hisdateS" maxlength="8" value=<%=@hisdateS %>>
迄<input class="box form-control col-lg-1" size="9"  type="text"  id="hisdateE" maxlength="8" value=<%=@hisdateE %>><span style="color:blue;">ex:20200101 </span>

 </div>
  <br>
 <div>
 <button id="query_history" type="button" class="btn btn-primary" ><%= (I18n.t :query, scope: [ :buttons ]) %></button>
<!--
 <button id="reset_button" type="button" class="btn btn-primary"><%= (I18n.t :reset, scope: [ :buttons ]) %></button>
-->
 </div>
