

<h3>月報表管理系統</h3>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <!-- Dropdown -->

    <% last_parent_menu_id = '' %>
    <% last_menu_id = '' %>
    <% @menus.each do |menubar| %>
        <% if last_menu_id.present? && menubar.menu_id[0,6] != last_menu_id[0,6] %>
          </div>
        </li>
        <% end %>
      <% if menubar.parent_menu_id.present? && menubar.parent_menu_id == menubar.menu_id[0,6] %>
        <% if menubar.program_url.present? %>
          <a class="dropdown-item" href="<%= menubar.program_url %>"><%= menubar.menu_name.strip %></a>
        <% else %>
          <a class="dropdown-item" href="#"><%= menubar.menu_name.strip %></a>
        <% end %>
      <% else %>
      <% if menubar.parent_menu_id.blank? && menubar.menu_id.present? %>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            <%= menubar.menu_name.strip %>
          </a>
          <div class="dropdown-menu">
      <% end %>
      <% end %>
      <% last_parent_menu_id = menubar.parent_menu_id %>
      <% last_menu_id = menubar.menu_id  %>
    <% end %>
          </div>
        </li>
  </ul>

  <ul class="navbar-nav">
    <%= link_to "登出", destroy_user_session_path, method: :delete, :class => "btn btn-info btn-sm" %>
  </ul>
</nav>


<h1>客戶資料維護</h1>

<div class="d-flex flex-row  align-items-center">
客戶編號：
<input class="box form-control col-lg-1" size="9" maxlength="5" type="text"  id="inputquery" value=<%=@input0%> >
<!-- <div class="label col-lg-4">資訊部權限</div>-->
 </div>
　　
 <div>
 <button id="query_cust" type="button" class="btn btn-primary" ><%= (I18n.t :query, scope: [ :buttons ]) %></button>
<!--
 <button id="reset_button" type="button" class="btn btn-danger"><%= (I18n.t :reset, scope: [ :buttons ]) %></button>
-->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="create_cust" class="btn btn-primary" >新增</button>
 </div>

<p id="notice"><%= notice %></p>

<table id="table" class="table">


  <thead >
    <style>
    input.normal {
      border: 2px solid red;
    }

    input.round1 {
      border: 3px solid grey;
      border-radius: 5px;
    }

    input.round2 {
      border: 4px solid red;
      border-radius: 111px;
    }

    input.round3 {
      border: 2px solid red;
      border-radius: 12px;
    }
    </style>
    <tr >
      <td>項次</td>
      <td >客 戶 編 號</td>
      <td >&nbsp;&nbsp;客  戶  名  稱 </td>
      <td align="center" valign="center">狀態</td>
      <td >付款條件</td>
      <td>01月</td>
        <td >02月</td>
          <td>03月</td>
            <td>04月</td>
              <td>05月</td>
                <td>06月</td>
                  <td>07月</td>
                    <td>08月</td>
                      <td>09月</td>
                        <td>10月</td>
                          <td>11月</td>
                            <td>12月</td>
      <td align="center" valign="center">結帳日</td>
      <td >&nbsp;&nbsp;業務人員</td>

      <td >備註</td>

 <td>處理  </td>
        <td>     </td>


    </tr>
  </thead>
    <%= paginate @customers, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  <tbody id="bodyrow">
　
    <% @customers.each_with_index do |customer,index| %>
      <tr  id=<%= index+1 %>>
        <td ><%= index+1 %></td>
        <td style="display:none;"><input id ="input"></td>

        <td><input class="box border-0 form-control" size="6"  type="text"  id="input0" onfocus="this.blur()" value=<%=customer.cust_id %>> </td>
        <td><input class="box border-0 form-control" size="13" type="text" id="input1" onfocus="this.blur()" value="<%=customer.cust_name %>"  <% if customer.cust_name != "" then %> data-toggle="tooltip" data-html="true" title=<%= customer.cust_name %><% end %>> </td>

          <td><select id="input2" onfocus="this.blur()" style="width:90px" class="custom-select" required>
          <option id='op0'value=<%=customer.cust_stat %>> <%=statShow(customer.cust_stat)%></option>

          <option id="op1" style="display:none;" onfocus="this.blur()" value="Y">合約中</option>
          <option id="op3"style="display:none;" onfocus="this.blur()" value="N" >己解約</option>

        </select>  </td>

            <td><select id="payselect"  onfocus="this.blur()" style="width:100px" class="custom-select" required>
            <option id='ps0'value=<%=customer.cust_payment %>> <%=paymentShow(customer.cust_payment)%></option>

            <option id="ps1" style="display:none;" onfocus="this.blur()" value="1">月結</option>
            <option id="ps2"style="display:none;" onfocus="this.blur()" value="2" >雙月結</option>
              <option id="ps3" style="display:none;" onfocus="this.blur()" value="3">季結</option>
                <option id="ps4" style="display:none;" onfocus="this.blur()" value="4">半年結</option>
                  <option id="ps5" style="display:none;" onfocus="this.blur()" value="5">年結</option>
                    <option id="ps6" style="display:none;" onfocus="this.blur()" value="6">已結清</option>
                      <option id="ps7" style="display:none;" onfocus="this.blur()" value="7">倒店</option>
                        <option id="ps8" style="display:none;" onfocus="this.blur()" value="8">4個月結</option>
          </select>  </td>

            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm1"  <% if customer.paymonth01 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm2"  <% if customer.paymonth02 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm3"  <% if customer.paymonth03 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm4"  <% if customer.paymonth04 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled"type="checkbox" id="pm5"  <% if customer.paymonth05 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm6"  <% if customer.paymonth06 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm7"  <% if customer.paymonth07 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm8"  <% if customer.paymonth08 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm9"  <% if customer.paymonth09 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm10"  <% if customer.paymonth10 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm11"  <% if customer.paymonth11 == "1" then %>checked> <%end%></td>
            <td><input class="form-check" disabled="disabled" type="checkbox" id="pm12"  <% if customer.paymonth12 == "1" then %>checked> <%end%></td>

        <td> <input class="box border-0 form-control" size="2"  type="text"  id="payday_input" onfocus="this.blur()" value=<%=customer.cust_payday %>> </td>
        <td> <input class="box border-0 form-control" size="6"  type="text"  id="input3" onfocus="this.blur()" value=<%=customer.won_staff %>> </td>

        <td> <input class="box border-0 form-control"  size="19" type="text" id="input4" onfocus="this.blur()" value="<%= customer.cust_note %>"  <% if customer.cust_note != "" then %> data-toggle="tooltip" data-html="true" title=<%= customer.cust_note %><% end %>> </td>



        <td>
            <button id="edit_cust" class="btn btn-primary" remote="true">修改</button>
        </td>

        　<td id ='yesOrNoE'style="display:none;">
           <%= link_to '確定', customer ,:id=>"cust_checkE", :class =>"submit_button btn btn-success btn-sm"%>
          <button id="check_resetE" class="reset_button btn btn-danger btn-sm"><%= (I18n.t :reset, scope: [ :buttons ]) %></button>
        　</td>

       <td>
      <%= link_to '刪除', customer, method: :delete, :remote =>true ,:id=>"delete_cust",:class =>"btn btn-primary"%>
      </td>

      </tr>

    <% end %>


  </tbody>

</table>
