

<h3>月報表管理系統</h3>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <!-- Dropdown -->

    <% last_parent_menu_id = '' %>
    <% last_menu_id = '' %>
    <% @menus.each do |menubar| %>
        <% if last_menu_id.present? && menubar.menu_id[0,6] != last_menu_id[0,6] %>
          </div>
        </li>
        <% end %>
      <% if menubar.parent_menu_id.present? && menubar.parent_menu_id == menubar.menu_id[0,6] %>
        <% if menubar.program_url.present? %>
          <a class="dropdown-item" href="<%= menubar.program_url %>"><%= menubar.menu_name.strip %></a>
        <% else %>
          <a class="dropdown-item" href="#"><%= menubar.menu_name.strip %></a>
        <% end %>
      <% else %>
      <% if menubar.parent_menu_id.blank? && menubar.menu_id.present? %>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            <%= menubar.menu_name.strip %>
          </a>
          <div class="dropdown-menu">
      <% end %>
      <% end %>
      <% last_parent_menu_id = menubar.parent_menu_id %>
      <% last_menu_id = menubar.menu_id  %>
    <% end %>
          </div>
        </li>
  </ul>

  <ul class="navbar-nav">
    <%= link_to "登出", destroy_user_session_path, method: :delete, :class => "btn btn-info btn-sm" %>
  </ul>
</nav>


<h1>客戶資料維護</h1>

<div class="d-flex flex-row  align-items-center">
客戶編號：
<input class="box form-control col-lg-1" size="9" maxlength="5" type="text"  id="inputquery" value=<%=@input0%> >


 </div>

 <div>
 <button id="query_cust" type="button" class="btn btn-primary" ><%= (I18n.t :query, scope: [ :buttons ]) %></button>
<!--
 <button id="reset_button" type="button" class="btn btn-danger"><%= (I18n.t :reset, scope: [ :buttons ]) %></button>
-->
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="create_cust" class="btn btn-primary" >新增</button>
 </div>

<p id="notice"><%= notice %></p>

<table class="table table-hover">


  <thead >
    <style>
    input.normal {
      border: 2px solid red;
    }

    input.round1 {
      border: 3px solid grey;
      border-radius: 5px;
    }

    input.round2 {
      border: 4px solid red;
      border-radius: 111px;
    }

    input.round3 {
      border: 2px solid red;
      border-radius: 12px;
    }
    </style>
    <tr >
      <td>項次</td>
      <td >客 戶 編 號</td>
      <td >&nbsp;&nbsp;客  戶  名  稱 </td>
      <td align="center" valign="center">狀態</td>
      <td >&nbsp;&nbsp;業務人員</td>

      <td align="center" valign="center">備註</td>
 <td>處理  </td>
        <td>     </td>


    </tr>
  </thead>
    <%= paginate @customers, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>
  <tbody id="bodyrow">
　
    <% @customers.each_with_index do |customer,index| %>
      <tr  id=<%= index+1 %>>
        <td ><%= index+1 %></td>
        <td style="display:none;"><input id ="input"></td>

        <td><input class="box border-0 form-control" size="6"  type="text"  id="input0" onfocus="this.blur()" value=<%=customer.cust_id %>> </td>
        <td><input class="box border-0 form-control" size="14" type="text" id="input1" onfocus="this.blur()" value=<%=customer.cust_name %>> </td>

          <td><select id="input2" onfocus="this.blur()" class="custom-select col-lg-14" required>
          <option id='op0'value=<%=customer.cust_stat %>> <%=statShow(customer.cust_stat)%></option>
          <option id="op1" style="display:none;" onfocus="this.blur()" value="">合約中</option>
          <option id="op2" style="display:none;" onfocus="this.blur()" value="P">己結算</option>
          <option id="op3"style="display:none;" onfocus="this.blur()" value="Y" >己解約</option>

        </select>  </td>
        <td> <input class="box border-0 form-control" size="6"  type="text"  id="input3" onfocus="this.blur()" value=<%=customer.won_staff %>> </td>

        <td> <input class="box border-0 form-control"  size="19" type="text" id="input4" onfocus="this.blur()" value=<%= customer.cust_note %>> </td>


        <td>
            <button id="edit_cust" class="btn btn-primary" remote="true">修改</button>
        </td>

        　<td id ='yesOrNoE'style="display:none;">
           <%= link_to '確定', customer ,:id=>"cust_checkE", :class =>"submit_button btn btn-success btn-sm"%>
          <button id="check_resetE" class="reset_button btn btn-danger btn-sm"><%= (I18n.t :reset, scope: [ :buttons ]) %></button>
        　</td>

       <td>
      <%= link_to '刪除', customer, method: :delete, :remote =>true ,:id=>"delete_cust",:class =>"btn btn-primary"%>
      </td>

      </tr>

    <% end %>


  </tbody>

</table>
