<!-- 進入作業系統，顯示選單、作業系統 GridView及 Form 內容資料  -->
<div class="container-fluid">
  <div class="row content">
    <%= render "common/menu" %>
    <div class="toolbar row">
    <%= render "common/toolbar" %>
    </div>
    <div class="row">
      <div class="sidenav col-sm-3 col-md-3 col-lg-3">
        <%= render "gridview" %>
      </div>
      <div class="myform col-sm-9 col-md-9 col-lg-9">
        <%= render "form" %>
      </div>
      <div class="myerror col-sm-9 col-md-9 col-lg-9">
      </div>
    </div>

  </div>
</div>

<%= render 'dialog' %>
