&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
  &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;
   <i class="fa fa-text-height fa-2x" ></i>
&nbsp <select id="changfontsize" class="custom-select" width="80" style="width: 80px" required>
   <option value="26px" <%= "selected" if @fontsize=="16px" %> >26px</option>
   <option value="22px" <%= "selected" if @fontsize=="16px" %> >22px</option>
   <option value="16px" <%= "selected" if @fontsize=="16px" %> selected>16px</option>
   <option value="14px" <%= "selected" if @fontsize=="14px" %> >14px</option>
   <option value="12px" <%= "selected" if @fontsize=="12px" %> >12px</option>
   <option value="10px" <%= "selected" if @fontsize=="10px" %> >10px</option>
</select>
