<h3>海灣文件倉儲管理系統</h3>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">

  <ul class="navbar-nav">
    <%= link_to "登出", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
  </ul>

  <!-- Links -->
  <ul class="navbar-nav">
    <!-- Dropdown -->

    <% last_parent_menu_id = '' %>
    <% last_menu_id = '' %>
    <% @menus.each do |menubar| %>
        <% if last_menu_id.present? && menubar.menu_id[0,6] != last_menu_id[0,6] %>
          </div>
        </li>
        <% end %>
      <% if menubar.parent_menu_id.present? && menubar.parent_menu_id == menubar.menu_id[0,6] %>
        <% if menubar.program_url.present? %>
          <a class="dropdown-item" href="<%= menubar.program_url %>"><%= menubar.menu_name.strip %></a>
        <% else %>
          <a class="dropdown-item" href="#"><%= menubar.menu_name.strip %></a>
        <% end %>
      <% else %>
      <% if menubar.parent_menu_id.blank? && menubar.menu_id.present? %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
            <%= menubar.menu_name.strip %>
          </a>
          <div class="dropdown-menu">
      <% end %>
      <% end %>
      <% last_parent_menu_id = menubar.parent_menu_id %>
      <% last_menu_id = menubar.menu_id  %>
    <% end %>
          </div>
        </li>
  </ul>
</nav>
