<% if @form_state=='browse' || @form_state.blank? then %>
<button type="button" class="new_button btn btn-primary btn-sm"><%= (I18n.t :new, scope: [ :buttons ]) %></button>
<button type="button" class="edit_button btn btn-primary btn-sm"><%= (I18n.t :edit, scope: [ :buttons ]) %></button>
<button type="button" class="delete_button btn btn-primary btn-sm"><%= (I18n.t :delete, scope: [ :buttons ]) %></button>
<button type="button" class="query_button btn btn-warning btn-sm"><%= (I18n.t :query, scope: [ :buttons ]) %></button>
<button type="button" class="print_button btn btn-info btn-sm"><%= (I18n.t :print, scope: [ :buttons ]) %></button>
<button type="button" class="barcode_button btn btn-dark btn-sm"><%= (I18n.t :barcode, scope: [ :buttons ]) %></button>
<% else %>
<button type="button" class="submit_button btn btn-success btn-sm"><%= (I18n.t :submit, scope: [ :buttons ]) %></button>
<%= button_to (I18n.t :reset, scope: [ :buttons ]), reset_menubars_path(), remote: true, class: "reset_button btn btn-danger btn-sm" %>
<% end %>
