
<h3>月報表管理系統</h3>

<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Links -->
  <ul class="navbar-nav">
    <!-- Dropdown -->

    <% last_parent_menu_id = '' %>
    <% last_menu_id = '' %>
    <% @menus.each do |menubar| %>
        <% if last_menu_id.present? && menubar.menu_id[0,6] != last_menu_id[0,6] %>
          </div>
        </li>
        <% end %>
      <% if menubar.parent_menu_id.present? && menubar.parent_menu_id == menubar.menu_id[0,6] %>
        <% if menubar.program_url.present? %>
          <a class="dropdown-item" href=<%= menubar.program_url %>><%= menubar.menu_name.strip %></a>
        <% else %>
          <a class="dropdown-item" href="#"><%= menubar.menu_name.strip %></a>
        <% end %>
      <% else %>
      <% if menubar.parent_menu_id.blank? && menubar.menu_id.present? %>
        <li class="nav-item dropdown">
          <a class="nav-link" href="#" id="navbardrop" data-toggle="dropdown">
            <%= menubar.menu_name.strip %>
          </a>
          <div class="dropdown-menu">
      <% end %>
      <% end %>
      <% last_parent_menu_id = menubar.parent_menu_id %>
      <% last_menu_id = menubar.menu_id  %>
    <% end %>
          </div>
        </li>
  </ul>

  <ul class="navbar-nav">
    <%= link_to "登出", destroy_user_session_path, method: :delete, :class => "btn btn-info btn-sm" %>
  </ul>
</nav>



<h1>INVOICE單</h1>

<div class="d-flex flex-row  align-items-center">
  客戶編號：
  <input class="box form-control col-lg-1" style="ime-mode:disabled" size="9" maxlength="5" type="text" id="input0" value="<%=@input0%>" >



     <div class="d-flex flex-row justify-content-between align-items-center" >
        年：
       <select id="date_yy" style= "width:200px;"  class="custom-select" required>

         <option value="2020" <%= "selected" if @date_yy=="2020" %> >2020</option>
         <option value="2021" <%= "selected" if @date_yy=="2021" %> >2021</option>
         <option value="2022" <%= "selected" if @date_yy=="2022" %> >2022</option>
         <option value="2023" <%= "selected" if @date_yy=="2023" %> >2023</option>
         <option value="2024" <%= "selected" if @date_yy=="2024" %> >2024</option>
         <option value="2025" <%= "selected" if @date_yy=="2025" %> >2025</option>
         <option value="2026" <%= "selected" if @date_yy=="2026" %> >2026</option>
         <option value="2027" <%= "selected" if @date_yy=="2027" %> >2027</option>
         <option value="2028" <%= "selected" if @date_yy=="2028" %> >2028</option>
         <option value="2029" <%= "selected" if @date_yy=="2029" %> >2029</option>
         <option value="2030" <%= "selected" if @date_yy=="2030" %> >2030</option>

       </select>
  月：
       <select id="date_mm" style= "width:100px;" class="custom-select" required>
         <option value="01" <%= "selected" if @date_mm=="01" %> >01</option>
         <option value="02" <%= "selected" if @date_mm=="02" %> >02</option>
         <option value="03" <%= "selected" if @date_mm=="03" %> >03</option>
         <option value="04" <%= "selected" if @date_mm=="04" %> >04</option>
         <option value="05" <%= "selected" if @date_mm=="05" %> >05</option>
         <option value="06" <%= "selected" if @date_mm=="06" %> >06</option>
         <option value="07" <%= "selected" if @date_mm=="07" %> >07</option>
         <option value="08" <%= "selected" if @date_mm=="08" %> >08</option>
         <option value="09" <%= "selected" if @date_mm=="09" %> >09</option>
         <option value="10" <%= "selected" if @date_mm=="10" %> >10</option>
         <option value="11" <%= "selected" if @date_mm=="11" %> >11</option>
         <option value="12" <%= "selected" if @date_mm=="12" %> >12</option>
       </select>
     <% if @group=="3" then %>

     <select id="​​nwonstaff" style= "width:300px;"class="custom-select" required>
       <% if @operstaff=="" then %>

          <option value=<%=@itstaff%>></option>
       <% else %>
       <option value=<%=@operstaff%>>－－請選擇使用者－－</option>
        <% end %>
        <option value="秀錦" <%= "selected" if @won_staff=="秀錦" %> >秀錦</option>
        <option value="may" <%= "selected" if @won_staff=="may" %> >may</option>
        <option value="Karen" <%= "selected" if @won_staff=="Karen" %> >Karen</option>
        <option value="vicky" <%= "selected" if @won_staff=="vicky" %> >vicky</option>
        <option value="SABRINA" <%= "selected" if @won_staff=="SABRINA" %> >SABRINA</option>
        <option value="素芳" <%= "selected" if @won_staff=="素芳" %> >素芳</option>
        <option value="Katherine" <%= "selected" if @won_staff=="Katherine" %> >Katherine</option>
        <option value=<%=@itstaff%> <%= "selected" if @won_staff==@itstaff %> ><%=@itstaff%></option>
       </select>
      　<div class="label col-lg-4">資訊部權限</div>　
    <% end %>

   </div>
　
 </div>
　&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;　<span  class="text-danger col-lg-4 " id="input0tips"></span>

 <div style="padding:13px;">

 <button id="query_acc" type="button" class="btn btn-primary" ><%= (I18n.t :query, scope: [ :buttons ]) %></button>
 
<!--这是一个注释，注释在浏览器中不会显示
 <button id="reset_button" type="button" class="btn btn-danger"><%= (I18n.t :reset, scope: [ :buttons ]) %></button>
-->
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button id="create_acc" class="btn btn-primary" >新增</button>


 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button  data-turbolinks=false id="printP" class = "btn btn-primary" >下載倉儲費用PDF</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button  data-turbolinks=false id="printE" class = "btn btn-primary" >下載倉儲費用EXCEL</button>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button  data-turbolinks=false id="printP1" class = "btn btn-primary" >下載倉儲費用小計PDF</button>
<p style="display:none;" id="notice"><%= notice %></p>
<p> </p>
<p> </p>

  <div id ="pageinate">
  <%= paginate @accounts, theme: 'twitter-bootstrap-4', pagination_class: "pagination-sm" %>

  </div>
   <font size="5">使用者：<%= @wonstaff %>　總金額：$ <%=@sumcost%> 總筆數： <%=@rowsum%></font>
<table id="table" class="table table-hover">
  <thead >
    <style>
    input.normal {
      border: 2px solid red;
    }

    input.round1 {
      border: 3px solid grey;
      border-radius: 5px;
    }

    input.round2 {
      border: 4px solid red;
      border-radius: 111px;
    }

    input.round3 {
      border: 2px solid red;
      border-radius: 12px;
    }
    select_m_d{
      width:120px;
     }
    </style>

    <tr >
      <td>項次</td>
      <td>客戶編號</td>
      <td>客戶類別名稱</td>
      <td align="center" valign="center">類　別</td>
      <td align="center" valign="center">單　　號</td>
      <td align="center" valign="center">月/年</td>
      <td align="center" valign="center">客戶名稱</td>
      <td align="center" valign="center">費用</td>
      <td align="center" valign="center">備註</td>

        <td>處理      </td>
           <td> </td>
          <td>    </td>
    </tr>
  </thead>
  <tbody id="bodyrow">　
    <% @accounts.each_with_index do |account,index| %>
      <tr><td><%= index+1 %></td>
        <td style="display:none;"><input name="account[id]" id ="input" value=<%= account.id %>></td>
        <td> <input class="box border-0 form-control" size="5"  type="text"  id="input0" onfocus="this.blur()" value="<%=account.cust_id %>"> </td>
        <td> <input class="box border-0 form-control" maxlength="15" size="10" type="text" id="input1" onfocus="this.blur()" value="<%=account.cust_type %>" <% if account.cust_type != "" then %> data-toggle="tooltip" data-html="true" title=<%= account.cust_type %><% end %>>  </td>
        <td> <input class="box border-0 form-control" size="2" type="text" id="input2" onfocus="this.blur()"  value="<%=account.acc_kind %>"> </td>
        <td> <input class="box border-0 form-control" maxlength="4" size="4"  type="text" id="input3" onfocus="this.blur()" value="<%=account.acc_no %>"> </td>
        <td> <input class="box border-0 form-control"  size="4" type="text"  id="input4" onfocus="this.blur()" value="<%= rocTime(account.acc_date) %>"> </td>
        <td> <input class="box border-0 form-control" size="20"  type="text" id="input5" onfocus="this.blur()" value="<%=account.customer.cust_name %>" <% if account.customer.cust_name  != "" then %> data-toggle="tooltip" data-html="true" title=<%= account.customer.cust_name  %><% end %>> </td>
        <td> <input class="box border-0 form-control" maxlength="7" size="6"  type="text" style="text-align:right"  id="input6" onfocus="this.blur()" value="<%=account.acc_cost %>" ></td>
        <td> <input class="box border-0 form-control"  size="15" type="text" id="input7" onfocus="this.blur()" value="<%=account.acc_note %>" <% if account.acc_note != "" then %> data-toggle="tooltip" data-html="true" title=<%= account.acc_note %><% end %> ></td>
        <td style="display:none;">
            <button id="create_acc" class="btn btn-primary" remote="true">新增</button>
        </td>
        <td>
            <button id="edit_acc" class="btn btn-primary" remote="true">修改</button>
        </td>

     <td id ='yesOrNoE' style="display:none;">
           <%= link_to '確定', account ,:id=>"acc_checkE", :class =>"submit_button btn btn-success btn-sm", :remote =>true%>
          <button id="check_resetE" class="reset_button btn btn-danger btn-sm"><%= (I18n.t :reset, scope: [ :buttons ]) %></button>
        　</td>
       <td id ='yesOrNoC' style="display:none;">
            <%= link_to '確定', account ,:id=>"acc_checkC", :class =>"submit_button btn btn-success btn-sm"%>
          <%#= link_to '確定', account ,:id=>"acc_checkC", :class =>"submit_button btn btn-success btn-sm"%>
         <button id="check_resetC" class="reset_button btn btn-danger btn-sm"><%= (I18n.t :reset, scope: [ :buttons ]) %></button>
       　</td>
       <td>
      <%= link_to '刪除', account, method: :delete, :remote =>true ,:id=>"delete_acc",:class =>"btn btn-primary"%>
      </td>
    </tr>
    <% end %>
    </tbody>
</table>
